/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: #f0f0f0;
}

header {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.left-section {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.search-section {
    display: flex;
    flex-direction: column;
}

#city-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#city-input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#search-history {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#search-history button {
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ddd;
    border: 1px solid #999;
    cursor: pointer;
    width: 100px; /* Adjust the width according to your needs */
}

#search-history button:hover {
    background-color: #bbb;
}

.right-section {
    width: 70%;
    padding-left: 20px;
}

#weather-display {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#forecast {
    display: flex;
    flex-wrap: wrap;
}

.forecast-card {
    width: calc(20% - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forecast-card:last-child {
    margin-right: 0;
}

.forecast-card h3 {
    margin-bottom: 10px;
}

.forecast-card p {
    margin-bottom: 5px;
}

#search-history {
    margin-bottom: 10px;
}
